[submodule "ThirdParty/Knot3"]
	path = ThirdParty/Knot3
	url = https://github.com/pse-knot/knot3-code.git
	ignore = dirty
[submodule "ThirdParty/MonoGame-SDL2"]
	path = ThirdParty/MonoGame-SDL2
	url = https://github.com/tobiasschulz/MonoGame.git
	ignore = dirty
